* {
    user-select: none;
}

body {
    background-color: rgba(90, 90, 90, 1);
}

.text-center {
    text-align: center;
}

.main {
    color: white;
}

nav {
    color: white;
    background-color: #333;
    position: fixed;
}

nav ul li {
    display: inline;
    padding: 5px;
}

nav .nav-list-item:hover  {
    color: #333;
    background-color: whitesmoke;
    transition: 1s;
}

.json-desc {
    align-self: left;
    margin-left: 10px;
    color: rgba(200, 200, 200, 1);
}

.json-desc a {
    color: aquamarine;
    text-decoration: underline;
}

.json-desc a:hover {
    color: blue;
    background-color: rgba(255, 255, 255, 1)
}