/* Custom scrollbar (webkit) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #00b0b3;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Custom scroilbar for non-webkit */
html {
    scrollbar-width: 12px;
    scrollbar-color: #888 #00b0b3;
}

/* Presets lmao */
.margin {
    margin-left: 1rem;
}

/* Reset default margin and padding */
body,
h1,
h2,
h4,
p {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Navigation bar styles */
.nav-bar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.site-title {
    font-size: 24px;
    margin-right: 10px;
}

/* Navigation list styles */
.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-list-item {
    margin: 0;
    padding: 0;
}

.nav-list-item a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: .5rem;
}

.nav-list-item a:hover {
    color: #333;
    background-color: white;
    transition: 1.5s;
    border-radius: 4px;
}

/* JSON description box styles */
.json-desc {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.json-desc a {
    color: rgb(0, 119, 99);
    background-color: white;
    text-decoration: underline;

}

/* Project Card Styles */
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.card-desc {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.my-roles {
    font-size: 0.9rem;
    color: #666666;
}

.card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.dc-inv-bot-btn,
.dc-inv-srv-btn {
    color: white;
    background-color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 1.5s;
}

.dc-inv-bot-btn:hover,
.dc-inv-srv-btn:hover {
    background-color: rgb(126, 218, 202);
}

@media (max-width: 767px) {

    /* Reset default margin and padding */
    body,
    h1,
    h2,
    h4,
    p {
        margin: 0;
        padding: 0;
    }

    /* Body styles */
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
    }

    /* Header styles */
    header {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem 0;
    }

    /* Navigation bar styles */
    .nav-bar {
        background-color: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .site-title {
        font-size: 24px;
        margin-right: 10px;
    }

    /* Navigation list styles */
    .nav-list {
        list-style: none;
        display: flex;
        gap: 15px;
    }

    .nav-list-item {
        margin: 0;
        padding: 0;
    }

    .nav-list-item a {
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: .5rem;
    }

    .nav-list-item a:hover {
        color: #333;
        background-color: white;
        transition: 1.5s;
        border-radius: 4px;
    }

    /* JSON description box styles */
    .json-desc {
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .json-desc a {
        color: rgb(0, 119, 99);
        background-color: white;
        text-decoration: underline;
    }

    /* Project Card Styles */
    .card {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: #333;
    }

    .card-desc {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: #666;
    }

    .my-roles {
        font-size: 0.9rem;
        color: #666666;
    }

    .card-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
    }

    .dc-inv-bot-btn,
    .dc-inv-srv-btn {
        color: white;
        background-color: white;
        padding: 0.3rem 0.8rem;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 1.5s;
    }

    .dc-inv-bot-btn:hover,
    .dc-inv-srv-btn:hover {
        background-color: rgb(126, 218, 202);
    }
}