/* Global styles */
* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

body h2 {
    text-align: left;
    padding-left: 10px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 1rem;
}

nav a,
a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: color 1s ease-in-out, background-color 1s ease-in-out;
}

nav a:hover,
a:hover {
    background-color: #afafaf;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}


/* Fixy fixy for other devices */

/* Mobile devices */
@media (max-width: 575px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .center {
        text-align: center;
    }

    .wrapper {
        padding: 10px;
    }

    .wrapper-child {
        width: 100%;
    }

    .second {
        padding-left: 0;
    }
}

/* iPhone Styles */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    /* CSS styles for iPhone X, XS, 11 Pro, 12 Pro */
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    /* CSS styles for iPhone XR, 11, 11 Pro Max, 12, 12 Pro Max */
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    /* CSS styles for iPhone 6, 6s, 7, 8, SE (1st generation) */
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    /* CSS styles for iPhone 6 Plus, 6s Plus, 7 Plus, 8 Plus */
}

/* Galaxy Styles */
@media only screen and (device-width: 360px) and (device-height: 760px) and (-webkit-device-pixel-ratio: 3) {
    /* CSS styles for Samsung Galaxy S10 */
}

@media only screen and (device-width: 360px) and (device-height: 740px) and (-webkit-device-pixel-ratio: 2.55) {
    /* CSS styles for Samsung Galaxy S10e */
}


@media only screen and (device-width: 360px) and (device-height: 800px) and (-webkit-device-pixel-ratio: 2.55) {
    /* CSS styles for Samsung Galaxy S21 */
}

@media only screen and (device-width: 412px) and (device-height: 869px) and (-webkit-device-pixel-ratio: 2.75) {
    /* CSS styles for Samsung Galaxy Note 10 */
}

@media only screen and (device-width: 412px) and (device-height: 892px) and (-webkit-device-pixel-ratio: 2.55) {
    /* CSS styles for Samsung Galaxy Note 20 */
}

/* Project cards */

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Object-specific styles */

.edith-invite{
    background-color: rgb(37, 13, 175);
}

.edith-invite:hover {
    background-color: rgb(197, 63, 11);
    transition: ease-in-out 3s;
}